/* Home Css */
.home{
    background-image: url('../images/1.jpeg');
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    min-height: 700px;
}
.home .titles{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0 80px;
    /* background-color: rgb(153, 124, 124); */
}
.home .title-wrap{
    margin-top: 300px;
}
.home h1{
    color: #ffffff;
    width: 100%;
    display: block;
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.7;
}
.home h1 span{
    color: #c9a04f;
}
.home h2{
    color: #ffffff;
display: block;
font-size: 27px;
line-height: 1.7;
}
.home h2 span{
    color: #ffffff;

}
.home p{
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    max-width: 450px;
}
.btn{
    color: #ffffff;
    background-color: #c9a04f ;
    font-size:14px ;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 600;
    text-transform:  uppercase;
    padding: 0 40px;
    border-radius: 0;
    position: relative;
    border: 2px solid #c9a04f;
    display: inline-block;
}
.btn:hover{
    text-decoration: none;
}
/* Media Query Home */
@media only screen and (max-width: 768px)
{
    .home .titles{
        padding: 0 40px;
        width: 100%;
    }
    .home h2
    ,.home p{
     font-size: 20px;
    }
}
@media only screen and (max-width: 567px)
{
   .home h1{
       font-size: 30px;
   }
    .home h2
    ,.home p{
     font-size: 13px;
    }
}
/* services */
.services{
    background-color: #f9f9f9;
}
.sec-title h2{
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 10px 0 0;
    position: relative;
    z-index: 1;
}
.sec-title h2:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 70%;
    z-index: -1;
    background-color: #c9a04f;
}
.services .service-box {
    border: 1px solid #c9a04f;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}
.services .service-box .icontitle{
    overflow: hidden;
    margin-bottom: 10px;
}
.services .service-box .icontitle i{
    float: left;
    width: 50px;
    height: 50px;
    font-size: 21px;
    text-align: center;
    color: #c9a04f;
    line-height: 50px;

}
.services .service-box .title
{
    padding: 0 0 0 70px;
}
.services .service-box .title span{
    color: #c9a04f;
    font-size: 16px;
}
.services .service-box .title h4{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 7px 0 0 0;
}
.services .service-box p{
    margin: 0;
}
/* work */
.work{
    padding-top: 100px;
    padding-bottom: 70px;
}
.work .list-filter{
margin-bottom: 30px;
padding: 0;
}
.work .list-filter li{
    list-style: none;
    display: inline-block;
}
.work .list-filter a {
    display: block;
    text-decoration: none;
    color: #000000;
     padding: 0 10px;
     cursor: pointer;
     line-height: 35px;
     margin: 4px 8px;
     font-weight: 500;
     text-transform: uppercase;
     transition: all 0.6s;

}
.work .list-filter a.active{
    color: #c9a04f;
}
.work .list-filter a:hover{
    color: #c9a04f;

}
.work-box{
    position: relative;
    overflow: hidden;
    display: block;
    box-shadow: 1px 2px 10px #c9a04f;
    padding: 15px;
}
.work-box a{
    display: inline-block;
    position: relative;
}
.work-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: #c9a04f;
    transition: all 0.4s linear; 
     transform: scale(0);

}
.work-overlay p{
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-bottom: 0;
    color:#ffffff ;
}
.work-overlay .work-caption{
    position: absolute;
    width: 100%;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);
}
.work-box:hover .work-overlay{
    opacity: 1;
    transform: scale(1);
}
.work-box:hover .work-caption{
    opacity: 1;
    
}
.work-box:hover .work-img{
    transform: scale(1);
    width: 100%;
    transition: all 2s linear;
}
.opinion{
    background-color: #f9f9f9;
    padding: 100px 0 70px 0;

}
.opinion-col-01{
background-color: #ffffff;
box-shadow: 0 2px 24px rgb(194, 141, 141);
padding: 35px;
margin: 10px 10px 20px;
border-radius: 5px;


}
.opinion-col-01 .media{
    margin-bottom: 20px;
}
.opinion-col-01 .media .img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.opinion-col-01 .media .media-body{
    padding-left: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #c9a04f;
    font-size: 20px;
}